.rating0-4 { background-color:#d54939!important; }
.rating5-8 { background-color:#e64d3c!important; }
.rating9-12 { background-color:#ea5c39!important; }
.rating13-16 { background-color:#ee6a36!important; }
.rating17-20 { background-color:#f37c33!important; }
.rating21-24 { background-color:#f48e2f!important; }
.rating25-28 { background-color:#f4992d!important; }
.rating29-32 { background-color:#f4a42c!important; }
.rating33-36 { background-color:#f4ae2c!important; }
.rating37-40 { background-color:#f4b82c!important; }
.rating41-44 { background-color:#f4c02c!important; }
.rating45-48 { background-color:#f4c72c!important; }
.rating49-52 { background-color:#f4cd2c!important; }
.rating53-56 { background-color:#f0ce2e!important; }
.rating57-60 { background-color:#e8ce31!important; }
.rating61-64 { background-color:#ddce36!important; }
.rating65-68 { background-color:#d2ce3b!important; }
.rating69-72 { background-color:#c5ce40!important; }
.rating73-76 { background-color:#b8ce46!important; }
.rating77-80 { background-color:#a7ce4e!important; }
.rating81-84 { background-color:#96ce56!important; }
.rating85-88 { background-color:#83ce5f!important; }
.rating89-92 { background-color:#75ce65!important; }
.rating93-96 { background-color:#63cc6d!important; }
.rating97-100 { background-color:#54ca74!important; }
.rating-unknown { background-color: #c7c7c7!important; }
